__pycache__/
*.py[cod]

build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

*.dll
*.lib
*.exp
*.obj
*.pdb
*.ilk

*.log
tmp_*.log
_tmp_*.log
_plan_launch_*.log
_verify_main*.log

.ipynb_checkpoints/

tools/vcpkg/
tools/vcpkg.zip
